<h1>Thank Your for Your Purchase</h1>

<h3>Now This is Going to Take a Bit of Imagination</h3>

<p>since this is a mock web-app the adventure you bought doesn't exactly exist...but that doesn't mean that you cannot go on a wonderful imaginary adventure. So we give you permission to spend the next five minutes quietly contemplating the adventure you just 'purchased'. What do you think the air would smell like? Imagine the texture of the soil? Feel the breeze gently brush against your face. Feel the warmth of the sun accross your face. Inhale, Exhale. </p>

<%= link_to "I'm Done Playing Imaginary Games", root_path, :class => 'btn btn-warning'  %>
