.logo a {
font-size: 35px;
}

p.description {
  border: 2px solid grey;
  padding: 20px;
  font-size: 15px;
}

.btn {
  margin: 10px;
}

.file-upload {
  border: 2px white;
  margin: 15px;
  padding: 10px;

}

.panel {
  border: 1px solid grey;
}
